* {
    box-sizing: border-box;
    margin: 0;
  }
  .menu {
    float: left;
    width: 20%;
  }
  .menuitem {
    display: flex;
    align-items: center; 
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
    vertical-align: middle;
  }
  .menutext {
    padding: 8px;
    margin-block: 7px;
  }
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
  }
  .right {
    background-color: lightblue;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
  }
  
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  .player {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #F1F3F4;
  }
  audio::-webkit-media-controls-play-button {
    transform: scale(2.5, 2.5);
    padding-right: 50px;
  }


  
  #myInput {
    width: 100%;
    background: #ececec;
    padding: 12px 20px 12px 17px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 10px;
  }



  ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
